<div id="<%= dom_id document %>">
  <p>
    <strong>Docname:</strong>
    <%= document.docname %>
  </p>

  <p>
    <strong>Valid from:</strong>
    <%= document.valid_from %>
  </p>

  <p>
    <strong>Valid to:</strong>
    <%= document.valid_to %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= document.description %>
  </p>

</div>
